svg {
    overflow: visible;
}

#text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}

.text-button {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.vector-field {
    position: absolute;
    background-color: transparent;
}

#VdP-vector-field {
    top: 65px;
    left: 65px;
}

#VdP-fig {
    position: relative;
    top: 0px;
    left: 30px;
    width: 900px;
    height: 450px;
    background: transparent;
}
     
#VdP-oscillator {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#VdP-controls {
    position: absolute;
    top: 0;
    left: 45px;
    width: 360px;
    height: 50px;
    background: transparent;
}

#VdP-checkbox {
    position: absolute;
    top: 27px;
    left: 15px;
    width: 120px;
    height: 20px;
    background: transparent;
}

#mu-slider {
    position: absolute;
    top: 12px;
    left: 175px;
    width: 150px;
    height: 50px;
    background: transparent;
}

#mu-value {
    position: absolute;
    top: 27px;
    left: 350px;
}

#mu-label {
    position: absolute;
    top: 27px;
    left: 150px;
}


#x-label {
    position: absolute;
    bottom: 15px;
    left: 220px;
    width: 20px;
    height: 20px;
    background: transparent;
}

#y-label {
    position: absolute;
    bottom: 230px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

